@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Serif:ital,opsz,wght@1,8..144,100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100% ;
    height: 70px;
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    
}



.logo{
    width: 20%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo-png{
    height: 40px;
    
}

.search{
    width: 30%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 80%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    column-gap: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.text-box{
    width: 80%;
    height: 40px;
    font-size: 18px;
    text-indent: 20px;
    border: none;
    outline: none;
}

.search-icon{
    height: 20px;
}


/* movies css */

.movies{
    width: 100%;
    padding: 50px 5%;
    background-color: lightgrey;
}

.movie{
    width: 20%;
    height: 500px;
    background-color: red;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

}

.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
}

.overlay:hover{
    opacity: 1;

}

.video{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}


.details{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.poster{
    width: 100%;
}

